.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: rgb(212, 219, 219);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.catch-up {
  text-align: center;
  font-size: 28px;
}
